<html>

<head>
    <title>Senha Incorreta</title>

    <script>
        alert(`SENHA INCORRETA
        Somente o adm da sala pode marcar 
        as questões como lidas ou excluí-las`)
        window.location.replace("/room/<%=roomId%>")
    </script>
</head>

</html>